.logo img{
    margin-left: 30%;
    margin-top: 5%;
}
.username input{
    margin-top: 3%;
    width: 30%;
    height: 10vh;
    font-size: large;
    margin-left: 32%;
}
.password input{
    width: 30%;
    height: 10vh;
    font-size: large;
    margin-left: 32%;
}
.login-bt input{
    width: 30%;
    height: 10vh;
    margin-left: 32% ;
    /* color: crimson; */
    background-color: #f16161;
    font-size: large;
}
.login-bt:hover input{
    background-color: rgb(239, 45, 45);
}



